<h2>Home</h2>

<%= render partial: 'layouts/link_button', locals: { link: home_path, color: 'secondary'} %>
<%= render partial: 'layouts/link_obutton', locals: { link: home_path, color: 'secondary' } %>