<h2>Home</h2>

<div data-controller="hello">
	<input data-hello-target="name" type="text">
	<button data-action="click->hello#greet">Greet</button>
	<button data-action="click->hello#alert">Alert</button>
</div>
<div id="js-test">
	Hello
</div>