<h1>Editing nutrition</h1>

<%= render "form", nutrition: @nutrition %>

<br>

<div>
  <%= link_to "Show this nutrition", @nutrition %> |
  <%= link_to "Back to nutritions", nutritions_path %>
</div>
