<p style="color: green"><%= notice %></p>

<h1>Nutritions</h1>

<div id="nutritions">
  <% @nutritions.each do |nutrition| %>
    <%= render nutrition %>
    <p>
      <%= link_to "Show this nutrition", nutrition %>
    </p>
  <% end %>
</div>

<%= link_to "New nutrition", new_nutrition_path %>
