<table class="table">
	<tr>
		<th>Cook Time</th>
		<th>Prep Time</th>
		<th>Total Time</th>
		<th>Yield</th>
	</tr>
	<tr>
		<td><%= recipe.cook_time %></td>
		<td><%= recipe.prep_time %></td>
		<td><%= recipe.total_time %></td>
		<td><%= recipe.yield %></td>
	</tr>
</table>