<p style="color: green"><%= notice %></p>

<h1>All Recipes</h1>
<%= link_to "Create Recipe", new_recipe_path, class: "btn btn-outline-primary" %>

<div class="row m-4">
  <%= render partial: 'card', collection: @recipes, as: :recipe %>
</div>


