<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<p style="color: green"><%= notice %></p>

<div class="container-fluid d-flex flex-wrap">
  <% @recipes.each do |recipe| %>
    <%= render partial: 'layouts/recipe_card', locals: { recipe: recipe } %>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
