<div class="container">
	<h1 class="my-2 p-2 border-bottom border-2 border-black">New Recipe</h1>
	<div class="container-fluid">
		<%= render "form", recipe: @recipe %>
	</div>
	
	<br>
	
	<div>
		<%= link_to "Back to ingredients", recipes_path %>
	</div>
</div>
