<div id="<%= dom_id ingredient %>" class="col-4 p-2">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title"><%= ingredient.name.titleize %></h2>
			<%= link_to "Recipes", ingredient_recipes_path( ingredient ), class: 'card-link m-auto text-decoration-none btn btn-outline-primary' %>
		</div>
	</div>
</div>