<p style="color: green"><%= notice %></p>

<h1>All Ingredients</h1>

<div id="ingredients" class="container-fluid d-flex flex-row flex-wrap row p-2">
	<%= render @ingredients || "There are no ingredients yet" %>
</div>

<%= link_to 'Back to Ingredients', ingredients_path, class: 'card-link m-auto text-decoration-none btn btn-outline-primary' %>

