<div class="container bg-light w-75 p-3  border-bottom">
	<div class="row m-3 mb-0">
		<div class="col">
			<h3><%= section.title %></h3>
			<p><%= section.description %></p>
		</div>
	</div>
	<div class="row m-0">
		<div class="col">
			<%= render section.steps %>
		</div>
	</div>
</div>