<p style="color: green"><%= notice %></p>

<h1>Tags</h1>

<div id="tags">
  <% @tags.each do |tag| %>
    <%= tag.name %>
    <p>
      <%= link_to "Show this tag", tag %>
    </p>
  <% end %>
</div>
