<p style="color: green"><%= notice %></p>

<h1>All Tags</h1>

<div id="tags" class="container-fluid d-flex flex-row flex-wrap">
	<%= render @tags || "There are no tags yet" %>
</div>

<%= link_to 'Back to Tags', tags_path, class: 'card-link m-auto text-decoration-none btn btn-outline-primary' %>
