<p style="color: green"><%= notice %></p>

<div class="container-fluid d-flex flex-wrap">
	<% @recipes.each do |recipe| %>
		<%= render partial: 'layouts/recipe_card', locals: { recipe: recipe } %>
	<% end %>
</div>

<%= render partial: 'layouts/link_obutton', locals: { link: tags_path } %>
