<div class="container-fluid d-flex flex-row m-2 p-2 align-items-center">
	<h3 class="px-3 py-2 me-3 my-auto border border-3 rounded-circle font-monospace"><%= step.position %></h3>
	<div class="m-auto">
		<h5><%= step.title %></h5>
		<p class="d-block m-0"><%= step.content %></p>
	</div>
</div>
