<p style="color: green"><%= notice %></p>

<div class="container-fluid">
	<div class="container-fluid d-flex flex-wrap">
		<%= render partial: 'recipes/card', collection: @recipes, as: :recipe %>
	</div>
	
	<%= link_to 'Back to Ingredients', ingredients_path, class: 'card-link m-auto text-decoration-none btn btn-outline-primary' %>
</div>
