<div class="col-3 m-2">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title"><%= name ||= "NA" %></h2>
			<%= link_to "Recipes", item, class: 'card-link m-auto text-decoration-none btn btn-outline-primary' %>
		</div>
	</div>
</div>